{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
      <h1 class="mt-2">Menu Principal - Fisioterapeuta</h1>
      <hr class="mt-0 mb-4">
      <div class="container">
        <p>Seja bem vindo ao sistema da KinectRehab!</p>
        <p>Selecione uma ação:</p>
        <ul>
          <li><a href="{% url 'registrartratamento' %}">Registrar um novo tratamento</a></li>
          <li><a href="{% url 'fisiotratamentos' %}">Ver meus tratamentos</a></li>
          <li><a href="{% url 'registraravaliacaotratamento' %}">Adicionar avaliação a um tratamento</a></li>
          <li><a href="{% url 'registrarexercicio' %}">Registrar um novo exercício</a></li>
        </ul>
      </div>
  </form>
{% endblock %}