<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'kinect/formstyles.css' %}">
</head>
<body>
<h1 class="header">Cadastrar novo Exercício</h1>
<form action="/registrarexercicio" method="post">
    {% csrf_token %}
    <!--{{ form }}-->
    <div class="fieldWrapper">
        <label for="{{form.nome.id_for_label}}">Nome do exercício: </label>
        {{form.nome}}
    </div>
    <div class="fieldWrapper">
        <label for="{{form.parteDoCorpo.id_for_label}}">Parte do corpo atuante: </label>
        {{form.parteDoCorpo}}
    </div>
    <input type="submit" value="Cadastrar">
</form>
</body>
</html>