{% extends 'base.html' %}
{% csrf_token %}
{% block content %}
  <h1 class="mt-2">Detalhes da Sessão:</h1>
  <hr class="mt-0 mb-4">
  <div class="container">
    {% if sessao %}
      <div class="card-body">
        <h4 class="card-header">{{sessao.tratamento.paciente.nome}}</h4>
        <h4 class="card-title">{{sessao.exercicio.nome}} - {{sessao.exercicio.parteDoCorpo}}</h4>
        <p class="card-text">Número de objetos tocados: {{ tempos|length }}</p>
        <p class="card-text">Tempos:</p>
        <ul>
          {% for t in tempos %}
            <li class="card-text">{{t.tempo}}</li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      Você não possui tratamentos registrados.
    {% endif %}
</div>
{% endblock %}